.AuthPage {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 3vmin;
}
.AuthPage button {
  margin-top: 3vmin;
  text-align: center;
  color: blue;
  cursor: pointer;
}
