.CatalogueListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: var(--text-light);
  background-color: white;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 4vmin;
}

.CatalogueListItem .emoji {
  height: 8vw;
  width: 8vw;
  font-size: 4vw;
  background-color: var(--tan-1);
  border: 0.1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

.CatalogueListItem .purchase {
  display: flex;
  flex-direction: column;
}

.CatalogueistItem .purchase span {
  font-size: 1.7vw;
  text-align: center;
  color: var(--text-light);
}
.CatalogueistItem .name {
  font-size: large;
  text-align: center;
  color: white;
}
