.CategoryList {
  color: green;
  list-style: none;
  padding: 0;
  font-size: 1.7vw;
}

.CategoryList li {
  padding: 0.6vmin;
  text-align: center;
  border-radius: 0.5vmin;
  margin-bottom: 0.5vmin;
}

.CategoryList li:hover:not(.active) {
  cursor: pointer;
  background-color: blue;
  color: brown;
}

.CategoryList li.active {
  color: var(--text-dark);
  background-color: grey;
  border: 0.1vmin solid var(--tan-3);
}
